.book-img {
  width: 110px;
  height: 170px;
}

.book-img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.books-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 16px;
}